django>=4.2,<5.0
djangorestframework
django-cors-headers
face_recognition
dlib==19.24.2
opencv-python-headless
geopy
numpy
pillow
reportlab
gunicorn
psycopg2-binary
whitenoise
dj-database-url
cloudinary
django-cloudinary-storage
python-dotenv
